<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{period}} ago by {{author}} | <a href="#/deleteComment" class="deleteLink">delete</a>
    </div>
</article>